# Lab Session

## <font color='blue'> Table Of Contents </font>
- Problem Statement
- Load required libraries
- Connect to DB using mysql-connector-python package
- Create database named `e_commerce`
- Create tables and insert data into tables as specified in the question
- Read all the questions and write sql queries to meet the objective

## <font color='blue'> Problem Statement </font>
###  An E-commerce website manages its data in the form of various tables.
You need to create a Database called `e_commerce` and various tables in it. The tables needed and attributes which need to be in every table are given before hand. All you have to do is create tables with data in it and answer some of the questions that follows.

### Load Required Libraries

In [2]:
import mysql.connector
import pandas as pd

### Connect to DB using Mysql-connector-python package

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "hellosql",
    auth_plugin = "mysql_native_password"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x123cd08f0>

### You are required to create a database named 'e_commerce'

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "hellosql",
    auth_plugin = "mysql_native_password"
)

cursorObject = mydb.cursor()
cursorObject.execute("CREATE DATABASE e_commerce")

mydb.close()

### Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.


- **`supplier`**(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))


- **`customer`** (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))


- **`category`** (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))


- **`product`** (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))


- **`product_details`** (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
  
  
- **`order`** (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))


- **`rating`** (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "hellosql",
    database = "e_commerce",
    auth_plugin = "mysql_native_password"
)

cursorObject = mydb.cursor()

In [9]:
table_creation_query = """
CREATE TABLE supplier (
    `SUPP_ID` int PRIMARY KEY, 
    `SUPP_NAME` varchar(50), 
    `SUPP_CITY` varchar(50),
    `SUPP_PHONE` varchar(10)
);

CREATE TABLE customer (
    `CUS_ID` INT NOT NULL, 
    `CUS_NAME` varchar(20) NULL DEFAULT NULL, 
    `CUS_PHONE` varchar(10), 
    `CUS_CITY` varchar(30), 
    `CUS_GENDER` CHAR, 
    PRIMARY KEY (`CUS_ID`)
);

CREATE TABLE category (
    `CAT_ID` INT NOT NULL, 
    `CAT_NAME` varchar(20) NULL DEFAULT NULL, 
    PRIMARY KEY (`CAT_ID`)
);

CREATE TABLE product (
    `PRO_ID` INT NOT NULL,
    `PRO_NAME` VARCHAR(20) NULL DEFAULT NULL,
    `PRO_DESC` VARCHAR(60) NULL DEFAULT NULL,
    `CAT_ID` INT NOT NULL,
    PRIMARY KEY (`PRO_ID`),
    FOREIGN KEY (`CAT_ID`) REFERENCES category (`CAT_ID`)
);

CREATE TABLE product_details (
    `PROD_ID` INT NOT NULL,
    `PRO_ID` INT NOT NULL,
    `SUPP_ID` INT NOT NULL,
    `PROD_PRICE` INT NOT NULL,
    PRIMARY KEY (`PROD_ID`),
    FOREIGN KEY (`PRO_ID`) REFERENCES product (`PRO_ID`),
    FOREIGN KEY (`SUPP_ID`) REFERENCES supplier (`SUPP_ID`)
);

CREATE TABLE `orders` (
    `ORD_ID` INT NOT NULL,
    `ORD_AMOUNT` INT NOT NULL,
    `ORD_DATE` DATE,
    `CUS_ID` INT NOT NULL,
    `PROD_ID` INT NOT NULL,
    PRIMARY KEY (`ORD_ID`),
    FOREIGN KEY (`CUS_ID`) REFERENCES customer (`CUS_ID`),
    FOREIGN KEY (`PROD_ID`) REFERENCES product_details (`PROD_ID`)
);

CREATE TABLE rating (
    `RAT_ID` INT NOT NULL,
    `CUS_ID` INT NOT NULL,
    `SUPP_ID` INT NOT NULL,
    `RAT_RATSTARS` INT NOT NULL,
    PRIMARY KEY (`RAT_ID`),
    FOREIGN KEY (`SUPP_ID`) REFERENCES supplier (`SUPP_ID`),
    FOREIGN KEY (`CUS_ID`) REFERENCES customer (`CUS_ID`)
);
"""

cursorObject.execute(table_creation_query)

### Q2. Insert the following data in the table created above
#### `Note:` If you are getting any error while inserting the data into tables, Kindly close the connection and reconnect

#### Table:  supplier
| SUPP_ID | SUPP_NAME | SUPP_CITY | SUPP_PHONE |
| --- | --- | --- | --- |
| 1 | Rajesh Retails | Delhi | 1234567890 |
| 2 | Appario Ltd. | Mumbai | 258963147032 |
| 3 | Knome products | Bangalore | 9785462315 |
| 4 | Bansal Retails | Kochi | 8975463285 |
| 5 | Mittal Ltd. | Lucknow | 7898456532 |

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="hellosql",  
    database="e_commerce" 
)

cursorObject = mydb.cursor()

insert_query = "INSERT INTO supplier (SUPP_ID, SUPP_NAME, SUPP_CITY, SUPP_PHONE) VALUES (%s, %s, %s, %s)"
val = [
    (1, 'Rajesh Retails', 'Delhi', '1234567890'),
    (2, 'Appario Ltd.', 'Mumbai', '2589631470'),
    (3, 'Knome products', 'Bangalore', '9785462315'),
    (4, 'Bansal Retails', 'Kochi', '8975463285'),
    (5, 'Mittal Ltd.', 'Lucknow', '7898456532')
]

try:
    
    cursorObject.executemany(insert_query, val)

    
    mydb.commit()

    print("Data inserted successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    mydb.rollback()

finally:
    
    cursorObject.close()
    mydb.close()

Data inserted successfully!

#### Table:  customer
| CUS_ID | CUS_NAME | SUPP_PHONE | CUS_CITY | CUS_GENDER
| --- | --- | --- | --- | --- |
| 1 | AAKASH | 9999999999 | DELHI | M |
| 2 | AMAN | 9785463215 | NOIDA | M |
| 3 | NEHA | 9999999998 | MUMBAI | F |
| 4 | MEGHA | 9994562399 | KOLKATA | F |
| 5 | PULKIT | 7895999999 | LUCKNOW | M |

In [24]:
import mysql.connector


mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce"  
)


if mydb.is_connected():
    print("Successfully connected to MySQL!")
else:
    print("Failed to connect to MySQL!")


insert_query_customer = """
INSERT INTO customer (CUS_ID, CUS_NAME, CUS_PHONE, CUS_CITY, CUS_GENDER)
VALUES (%s, %s, %s, %s, %s)
"""

val_customer = [
    (1, 'AAKASH', '9999999999', 'DELHI', 'M'),
    (2, 'AMAN', '9785463215', 'NOIDA', 'M'),
    (3, 'NEHA', '9999999998', 'MUMBAI', 'F'),
    (4, 'MEGHA', '9994562399', 'KOLKATA', 'F'),
    (5, 'PULKIT', '7895999999', 'LUCKNOW', 'M')
]


cursorObject = mydb.cursor()

try:
    
    cursorObject.executemany(insert_query_customer, val_customer)

    
    mydb.commit()

    print("Data inserted into customer table successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    mydb.rollback()

finally:
    
    cursorObject.close()
    mydb.close()

Successfully connected to MySQL!
Data inserted into customer table successfully!

#### Table:  category
| CAT_ID | CAT_NAME |
| --- | --- |  
| 1 | BOOKS |
| 2 | GAMES |  
| 3 | GROCERIES |
| 4 | ELECTRONICS |
| 5 | CLOTHES |

In [25]:

mydb = mysql.connector.connect(
    host="localhost",
    user="root", 
    password="hellosql",  
    database="e_commerce" 
)


insert_query_category = """
INSERT INTO category (CAT_ID, CAT_NAME)
VALUES (%s, %s)
"""

val_category = [
    (1, 'BOOKS'),
    (2, 'GAMES'),
    (3, 'GROCERIES'),
    (4, 'ELECTRONICS'),
    (5, 'CLOTHES')
]


cursorObject = mydb.cursor()

try:
    
    cursorObject.executemany(insert_query_category, val_category)

    
    mydb.commit()

    print("Data inserted into category table successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    mydb.rollback()

finally:
    
    cursorObject.close()
    mydb.close()

Data inserted into category table successfully!

#### Table:  product
| PRO_ID | PRO_NAME | PRO_DESC | CAT_ID |
| --- | --- | --- | --- |
| 1 | GTA V | DFJDJFDJFDJFDJFJF | 2 |
| 2 | TSHIRT | DFDFJDFJDKFD | 5 |
| 3 | ROG LAPTOP | DFNTTNTNTERND | 4 |
| 4 | OATS | REURENTBTOTH | 3 |
| 5 | HARRY POTTER | NBEMCTHTJTH | 1 |

In [26]:

mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce" 
)


insert_query_product = """
INSERT INTO product (PRO_ID, PRO_NAME, PRO_DESC, CAT_ID)
VALUES (%s, %s, %s, %s)
"""

val_product = [
    (1, 'GTA V', 'DFJDJFDJFDJFDJFJF', 2),
    (2, 'TSHIRT', 'DFDFJDFJDKFD', 5),
    (3, 'ROG LAPTOP', 'DFNTTNTNTERND', 4),
    (4, 'OATS', 'REURENTBTOTH', 3),
    (5, 'HARRY POTTER', 'NBEMCTHTJTH', 1)
]


cursorObject = mydb.cursor()

try:
    
    cursorObject.executemany(insert_query_product, val_product)

    
    mydb.commit()

    print("Data inserted into product table successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    mydb.rollback()

finally:
    
    cursorObject.close()
    mydb.close()

Data inserted into product table successfully!

#### Table:  product_details
| PROD_ID | PRO_ID | SUPP_ID | PROD_PRICE |
| --- | --- | --- | --- |
| 1 | 1 | 2 | 1500 |
| 2 | 3 | 5 | 30000 |
| 3 | 5 | 1 | 3000 |
| 4 | 2 | 3 | 2500 |
| 5 | 4 | 1 | 1000 |

In [27]:

mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce" 
)


insert_query_product_details = """
INSERT INTO product_details (PROD_ID, PRO_ID, SUPP_ID, PROD_PRICE)
VALUES (%s, %s, %s, %s)
"""

val_product_details = [
    (1, 1, 2, 1500),
    (2, 3, 5, 30000),
    (3, 5, 1, 3000),
    (4, 2, 3, 2500),
    (5, 4, 1, 1000)
]


cursorObject = mydb.cursor()

try:
    
    cursorObject.executemany(insert_query_product_details, val_product_details)

    
    mydb.commit()

    print("Data inserted into product_details table successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    mydb.rollback()

finally:
    
    cursorObject.close()
    mydb.close()

Data inserted into product_details table successfully!

#### Table:  orders
| ORD_ID | ORD_AMOUNT | ORD_DATE | CUS_ID | PROD_ID
| --- | --- | --- | --- | --- |
| 20 | 1500 | 2021-10-12 | 3 | 5 |
| 25 | 30500 | 2021-09-16 | 5 | 2 |
| 26 | 2000 | 2021-10-05 | 1 | 1 |
| 30 | 3500 | 2021-08-16 | 4 | 3 |
| 50 | 2000 | 2021-10-06 | 2 | 1 |

In [28]:


mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce" 
)


insert_query_orders = """
INSERT INTO orders (ORD_ID, ORD_AMOUNT, ORD_DATE, CUS_ID, PROD_ID)
VALUES (%s, %s, %s, %s, %s)
"""

val_orders = [
    (20, 1500, '2021-10-12', 3, 5),
    (25, 30500, '2021-09-16', 5, 2),
    (26, 2000, '2021-10-05', 1, 1),
    (30, 3500, '2021-08-16', 4, 3),
    (50, 2000, '2021-10-06', 2, 1)
]


cursorObject = mydb.cursor()

try:
    
    cursorObject.executemany(insert_query_orders, val_orders)

    
    mydb.commit()

    print("Data inserted into orders table successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    mydb.rollback()

finally:
    
    cursorObject.close()
    mydb.close()

Data inserted into orders table successfully!

#### Table: rating
| RAT_ID | CUS_ID | SUPP_ID | RAT_RATSTARS |
| --- | --- | --- | --- |
| 1 | 2 | 2 | 4 |
| 2 | 3 | 4 | 3 |
| 3 | 5 | 1 | 5 |
| 4 | 1 | 3 | 2 |
| 5 | 4 | 5 | 4 |

In [29]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce" 
)


insert_query_rating = """
INSERT INTO rating (RAT_ID, CUS_ID, SUPP_ID, RAT_RATSTARS)
VALUES (%s, %s, %s, %s)
"""

val_rating = [
    (1, 2, 2, 4),
    (2, 3, 4, 3),
    (3, 5, 1, 5),
    (4, 1, 3, 2),
    (5, 4, 5, 4)
]


cursorObject = mydb.cursor()

try:
    
    cursorObject.executemany(insert_query_rating, val_rating)

    
    mydb.commit()

    print("Data inserted into rating table successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    mydb.rollback()

finally:
    
    cursorObject.close()
    mydb.close()

Data inserted into rating table successfully!

### Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [30]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce" 
)

cursorObject = mydb.cursor()


query = """
SELECT c.CUS_GENDER, COUNT(c.CUS_ID) AS customer_count
FROM customer c
JOIN orders o ON c.CUS_ID = o.CUS_ID
WHERE o.ORD_AMOUNT >= 3000
GROUP BY c.CUS_GENDER;
"""


cursorObject.execute(query)


result = cursorObject.fetchall()
for row in result:
    print(f"Gender: {row[0]}, Number of Customers: {row[1]}")


cursorObject.close()
mydb.close()

Gender: M, Number of Customers: 1
Gender: F, Number of Customers: 1

### Q4) Display all the order along with product name ordered by a customer having Customer_Id=2;

In [31]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root", 
    password="hellosql", 
    database="e_commerce"  
)


cursorObject = mydb.cursor()


query = """
SELECT o.ORD_ID, o.ORD_AMOUNT, o.ORD_DATE, p.PRO_NAME
FROM orders o
JOIN product_details pd ON o.PROD_ID = pd.PROD_ID
JOIN product p ON pd.PRO_ID = p.PRO_ID
WHERE o.CUS_ID = 2;
"""


cursorObject.execute(query)


result = cursorObject.fetchall()
for row in result:
    print(f"Order ID: {row[0]}, Amount: {row[1]}, Date: {row[2]}, Product Name: {row[3]}")


cursorObject.close()
mydb.close()

Order ID: 50, Amount: 2000, Date: 2021-10-06, Product Name: GTA V

### Q5) Display the Supplier details who can supply more than one product.

In [33]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce"  
)


cursorObject = mydb.cursor()


query = """
SELECT s.SUPP_ID, s.SUPP_NAME, s.SUPP_CITY, s.SUPP_PHONE
FROM supplier s
JOIN product_details pd ON s.SUPP_ID = pd.SUPP_ID
GROUP BY s.SUPP_ID, s.SUPP_NAME, s.SUPP_CITY, s.SUPP_PHONE
HAVING COUNT(pd.PROD_ID) > 1;
"""


cursorObject.execute(query)


result = cursorObject.fetchall()
for row in result:
    print(f"Supplier ID: {row[0]}, Name: {row[1]}, City: {row[2]}, Phone: {row[3]}")


cursorObject.close()
mydb.close()

Supplier ID: 1, Name: Rajesh Retails, City: Delhi, Phone: 1234567890

### Q6) Find the category of the product whose order amount is minimum.

In [34]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",
    database="e_commerce"  
)


cursorObject = mydb.cursor()


query = """
SELECT c.CAT_NAME
FROM orders o
JOIN product_details pd ON o.PROD_ID = pd.PROD_ID
JOIN product p ON pd.PRO_ID = p.PRO_ID
JOIN category c ON p.CAT_ID = c.CAT_ID
ORDER BY o.ORD_AMOUNT ASC
LIMIT 1;
"""


cursorObject.execute(query)


result = cursorObject.fetchone()
print(f"The category of the product with the minimum order amount is: {result[0]}")


cursorObject.close()
mydb.close()

The category of the product with the minimum order amount is: GROCERIES

### Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [36]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root", 
    password="hellosql", 
    database="e_commerce"  
)


cursorObject = mydb.cursor()


query = """
SELECT p.PRO_ID, p.PRO_NAME
FROM orders o
JOIN product_details pd ON o.PROD_ID = pd.PROD_ID
JOIN product p ON pd.PRO_ID = p.PRO_ID
WHERE o.ORD_DATE > '2021-10-05';
"""


cursorObject.execute(query)


result = cursorObject.fetchall()


for row in result:
    print(f"Product ID: {row[0]}, Product Name: {row[1]}")


cursorObject.close()
mydb.close()

Product ID: 4, Product Name: OATS
Product ID: 1, Product Name: GTA V

### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [37]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql", 
    database="e_commerce" 
)


cursorObject = mydb.cursor()


query = """
SELECT s.SUPP_ID, s.SUPP_NAME, r.RAT_RATSTARS, c.CUS_NAME
FROM rating r
JOIN supplier s ON r.SUPP_ID = s.SUPP_ID
JOIN customer c ON r.CUS_ID = c.CUS_ID
ORDER BY r.RAT_RATSTARS DESC
LIMIT 3;
"""


cursorObject.execute(query)


result = cursorObject.fetchall()


for row in result:
    print(f"Supplier ID: {row[0]}, Supplier Name: {row[1]}, Rating: {row[2]}, Customer Name: {row[3]}")


cursorObject.close()
mydb.close()

Supplier ID: 1, Supplier Name: Rajesh Retails, Rating: 5, Customer Name: PULKIT
Supplier ID: 2, Supplier Name: Appario Ltd., Rating: 4, Customer Name: AMAN
Supplier ID: 5, Supplier Name: Mittal Ltd., Rating: 4, Customer Name: MEGHA

Q9) Display customer name and gender whose names start or end with character 'A'.

Q9) Display customer name and gender whose names start or end with character 'A'.

In [38]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce"  
)


cursorObject = mydb.cursor()


query = """
SELECT CUS_NAME, CUS_GENDER
FROM customer
WHERE CUS_NAME LIKE 'A%' OR CUS_NAME LIKE '%A';
"""


cursorObject.execute(query)


result = cursorObject.fetchall()


for row in result:
    print(f"Customer Name: {row[0]}, Gender: {row[1]}")


cursorObject.close()
mydb.close()

Customer Name: AAKASH, Gender: M
Customer Name: AMAN, Gender: M
Customer Name: NEHA, Gender: F
Customer Name: MEGHA, Gender: F

### Q10) Display the total order amount of the male customers.

In [39]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce"  
)


cursorObject = mydb.cursor()


query = """
SELECT SUM(o.ORD_AMOUNT) AS total_order_amount
FROM orders o
JOIN customer c ON o.CUS_ID = c.CUS_ID
WHERE c.CUS_GENDER = 'M';
"""


cursorObject.execute(query)


result = cursorObject.fetchone()


print(f"Total Order Amount of Male Customers: {result[0]}")


cursorObject.close()
mydb.close()

Total Order Amount of Male Customers: 34500

### Q11) Display all the Customers left outer join with  the orders

In [40]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="hellosql",  
    database="e_commerce"  
)


cursorObject = mydb.cursor()


query = """
SELECT c.CUS_ID, c.CUS_NAME, c.CUS_PHONE, c.CUS_CITY, c.CUS_GENDER, o.ORD_ID, o.ORD_AMOUNT, o.ORD_DATE
FROM customer c
LEFT JOIN orders o ON c.CUS_ID = o.CUS_ID;
"""

cursorObject.execute(query)


result = cursorObject.fetchall()


for row in result:
    print(f"Customer ID: {row[0]}, Name: {row[1]}, Phone: {row[2]}, City: {row[3]}, Gender: {row[4]}, Order ID: {row[5]}, Order Amount: {row[6]}, Order Date: {row[7]}")


cursorObject.close()
mydb.close()

Customer ID: 1, Name: AAKASH, Phone: 9999999999, City: DELHI, Gender: M, Order ID: 26, Order Amount: 2000, Order Date: 2021-10-05
Customer ID: 2, Name: AMAN, Phone: 9785463215, City: NOIDA, Gender: M, Order ID: 50, Order Amount: 2000, Order Date: 2021-10-06
Customer ID: 3, Name: NEHA, Phone: 9999999998, City: MUMBAI, Gender: F, Order ID: 20, Order Amount: 1500, Order Date: 2021-10-12
Customer ID: 4, Name: MEGHA, Phone: 9994562399, City: KOLKATA, Gender: F, Order ID: 30, Order Amount: 3500, Order Date: 2021-08-16
Customer ID: 5, Name: PULKIT, Phone: 7895999999, City: LUCKNOW, Gender: M, Order ID: 25, Order Amount: 30500, Order Date: 2021-09-16

**NOTE:** Always close an open connection once you are done with the database operations

## Happy Learning:)